*,
:hover,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glasses {
  height: 100px;
  width: 60px;
  margin: 100px auto;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-radius: 5px;
}
.container {
  height: 100%;
  width: 100%;
  opacity: 0;
  background: greenyellow;
  animation: anim 4s 0.5s ease infinite;
  transform: scaleY(0);
  transform-origin: bottom;
}

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation: load 3s 0.5s ease-in-out infinite;
  transform: rotateY(0deg);
}

@keyframes anim {
  10% {
    transform: scaleY(10%);
    opacity: 0.2;
  }
  20% {
    transform: scaleY(20%);
    opacity: 0.3;
  }
  30% {
    transform: scaleY(30%);
    opacity: 0.4;
  }
  40% {
    transform: scaleY(40%);
    opacity: 0.5;
  }
  50% {
    transform: scaleY(50%);
    opacity: 0.6;
  }
  60% {
    transform: scaleY(60%);
    opacity: 0.7;
  }
  70% {
    transform: scaleY(70%);
    opacity: 0.8;
  }
  80% {
    transform: scaleY(80%);
    opacity: 0.9;
  }
  90% {
    transform: scaleY(90%);
    opacity: 1;
  }
  100% {
    transform: scaleY(100%);
    opacity: 1;
  }
}

@keyframes load {
  100% {
    transform: rotateY(360deg);
  }
}
